@font-face {
	font-family: 'Walt Disney Script v4.1 Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Walt Disney Script v4.1 Regular'), url('wds011402.woff') format('woff');
}

h1 {
	font-family: 'Walt Disney Script v4.1 Regular';
	font-weight: 200;
	color: white;
}